# ==========================
# Server
# ==========================

TIMEZONE=Asia/Colombo

DOMAIN=yourerp.com

EMAIL=admin@yourerp.com

# ==========================
# PostgreSQL
# ==========================

POSTGRES_DB=postgres

POSTGRES_USER=odoo

POSTGRES_PASSWORD=CHANGE_ME

# ==========================
# Odoo
# ==========================

ODOO_DBFILTER=^%d$

ODOO_ADMIN_PASSWORD=CHANGE_ME

# ==========================
# Ports

ODOO_PORT=8069

POSTGRES_PORT=5432